<ion-content fullscreen class="ion-slides" scroll-y="false">
<ion-slides pager="true">

  <ion-slide style=background-color:white>
    <img class="slide_image" src="assets/images/slide1.png" alt="">
    <h2>Meu app tá incrível :D</h2>
    <br>
    <div>
      <p>
        Maluco, esse app vai ficar bom dms, dale no TCC
      </p>
      <p>
        TCC vai ficar pronto esse ano, <strong>to orgulhoso :DDDDD</strong>
      </p>
    </div>
  </ion-slide>

  <ion-slide style=background-color:white>
    <img class="slide_image" src="assets/images/slide2.png" alt="">
    <h1>Slide 2</h1>
  </ion-slide>

  <ion-slide style=background-color:white>
    <img class="slide_image" src="assets/images/slide3.png" alt="">
    <h1>Slide 3</h1>

    <a (click)="goToTabsPage()">Continuar</a>
  </ion-slide>

</ion-slides>

</ion-content>